:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --body-font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    align-content: center;
    justify-content: center;

    background-color: var(--pale-blue);
}

.card {
    display: flex;
    flex-direction: column;
    inline-size: 20.5rem;
    block-size: 35.5rem;
    align-items: center;
    background-color: white;
    border-radius: 21px;
}


#card-para {
    text-align: center;
    padding-inline: 2.1rem;
    padding-block-end: 1.1875rem;
    font-size: 0.95rem;
    line-height: 1.68;
    color: var(--desaturated-blue);
   
}
#card-title {
    font-size: 1.4rem;
    padding-block-start: 1.875rem;
    padding-block-end: 0.875rem;
    color: var(--dark-blue);
}
.hero-img {
    border-radius: 21px 21px 0 0;
    width: 100%;
}

.plan-con {
    display: flex;
    align-items: center;
    background-color: var(--very-pale-blue);
    padding-block: 1.2125rem;
    padding-inline: 1.40rem;
    border-radius: 10px;
}
.price {
    font-size: 1rem;
}
.price-con {
    padding-inline: 1rem;
}
.price-title {
    font-size: 0.88rem;
    padding-inline: 0.8rem;
}

.red-hat-display-500 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.red-hat-display-700 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.red-hat-display-900 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}