:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --body-font-size: 16px;
  
}

html, body {
    height: 100%;
}

body {
    display: grid;
    align-content: center;
    justify-content: center;

    background-color: var(--pale-blue);
}
#cancel-btn {
    color: var(--desaturated-blue);
    font-size: 0.95rem;
}

.card {
    display: flex;
    flex-direction: column;
    inline-size: 20.5rem;
    block-size: 35.5rem;
    align-items: center;
    background-color: white;
    border-radius: 21px;
}


#card-para {
    text-align: center;
    padding-inline: 2.1rem;
    padding-block-end: 1.1875rem;
    font-size: 0.95rem;
    line-height: 1.68;
    color: var(--desaturated-blue);
   
}
#card-title {
    font-size: 1.4rem;
    padding-block-start: 1.875rem;
    padding-block-end: 0.875rem;
    color: var(--dark-blue);
}

.change-link {
    font-size: 0.8rem;
    
    padding-block: 2.125rem 1.875rem;
    padding-inline-end: 0.9375rem;
   
   
    
}
.hero-img {
    border-radius: 21px 21px 0 0;
    width: 100%;
}
.music-icon {
    
    padding-block: 1.125rem;
    padding-inline-start: 0.9375rem;
  
    
}
#payment-btn {
    background-color: var(--bright-blue);
    border-radius: 10px;
    padding-inline: 3.95rem;
    padding-block: 0.85rem ;
    margin-block: 1.4rem 1.4375rem;
    color: white;
    font-size: 0.95rem;
    box-shadow: 0px 0px 10px hsl( from var(--bright-blue) h s l / 0.3);
}
.plan-con-child{
    display: flex;
    flex: 1;
    align-items: center;
    margin-inline: 1.5625rem;
  
    background-color: var(--very-pale-blue);
    border-radius: 15px;
}

.plan-con {
    display: flex;
    align-items: center;
    min-width: 100%;
 
}
.price {
    font-size: 0.90rem;
   
    
}
.price-con {
    padding-block: 1.3125 1.125rem;
    padding-inline-start: 1.25rem;
  
  
    flex: 1;

  
}
.price-title {
    font-size: 0.88rem;
    
}

.red-hat-display-500 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.red-hat-display-700 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.red-hat-display-900 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}